html{
  font-size: 18px
  /*line-height: 1.4;*/
}

div, img, p, span, nav{
  border: 1px solid blue;
}
.container{
  width: 100%;
  font-family: Helvetica;
  font-size: 1rem;
}
.cont_960{
  width: 960px;
}
/*Page_top*/
.page_top{
  display: flex;
  justify-content: center;
  height: 31rem;
  width: 100%;
  background-image: url('../images/glasses-bg.png');
  background-size: cover;
  background-position: -13rem;
}
.header{
  display: inline-flex;
  justify-content: space-between;
  background-color: cadetblue;
  margin-top: 1rem;
  color: white;
  width: 100%;
}
.logo_name img{
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 2rem;
}
.logo_name{
  display: inline-flex;
  align-items: center;

}
nav {
  display: flex;
  align-items: center;
  }
span{
  margin-right: 2rem;
}
.slogan_cont{
  display: flex;
  justify-content: flex-end;
  width: 100%;

  margin-top: 10rem;
}
.slogan{
  background-color: white;
  width: fit-content;
  margin-right: -2rem;
}
.slogan p{
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem 5rem;
}
