/*/cygdrive/d/codeacadamy/Freelance_web/U5 responsive design/U5D10-12_optometry*/
html{
  font-size: 18px
  /*line-height: 1.4;*/
}

div, img, p, span, nav{
  border: 1px solid blue;
}
.container{
  width: 100%;
  font-family: Helvetica;
  font-size: 1rem;
}
.cont_960{
  width: 960px;
}
/*Page_top*/
.page_top{
  display: flex;
  justify-content: center;
  height: 31rem;
  width: 100%;
  background-image: url('../images/glasses-bg.png');
  background-size: cover;
  background-position: -13rem;
}
.header{
  display: inline-flex;
  justify-content: space-between;
  background-color: cadetblue;
  margin-top: 1rem;
  color: white;
  width: 100%;
}
.logo_name img{
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 2rem;
}
.logo_name{
  display: inline-flex;
  align-items: center;

}
nav {
  display: flex;
  align-items: center;
  }
span{
  margin-right: 2rem;
}
.slogan_cont{
  display: flex;
  justify-content: flex-end;
  width: 100%;

  margin-top: 10rem;
}
.slogan{
  background-color: white;
  width: fit-content;
  margin-right: -2rem;
}
.slogan p{
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem 5rem;
}
/*end of page top*/

/*Icons*/
.icons{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
}
.icons p{
line-height: 1.4rem;
align-self: center;
text-align: center;
}
.icon-1, .icon-2, .icon-3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
}
.icon-1, .icon-2{
  margin-right: 6rem;
}
.icon-1 img{
  width: 3.5rem;
}
.icon-2 img, .icon-3 img{
  width: 90%;
}
.icon-2 p, .icon-3 p{
  margin-bottom: 0px;
}

/*end icons*/

/*info*/
.info{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.philosophy, .appointments{
  width: 35%;
}
.philosophy{
  margin-right: 5%;
}
.title{
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem auto 0.5rem 1.25rem;
  width: 10rem;
  background-color: cadetblue;
}
.article{

}
/* end info*/

/*footer*/
.footer{
  display: flex;
  justify-content: center;
  width: 100%
}
.foot_cont{
  background-color: inherit;
}
.foot_cont{
  margin: 4rem auto 4rem 4rem;
}
